.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #4e524e;
  background: rgb(217, 240, 217);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  }
.floating-button:hover {
  background: #4bce82;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
.container-success {
  background-color: rgb(209, 231, 221, 1);
}
.container-success-light {
  background: rgb(217, 240, 217);
}
.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 350px; /* Або будь-яка інша ширина, в залежності від розміру квадратиків */
}

.day {
  width: 45px; /* Ширина квадратика */
  height: 45px; /* Висота квадратика */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 5px; /* Закруглення країв */
}

.free {
  background-color: lightgreen; /* Колір для вільних днів */
}

.booked {
  background-color: lightcoral; /* Колір для зайнятих днів */
}

@media only screen and (min-width: 1300px){
  .col-2-special {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}